:root {
  --text-color: rgb(209, 13, 13);
}

.section-grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  gap: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.616);
}

.image {
  background-image: url("./image/l1.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
}

.text-div {
  color: var(--text-color);
  margin: 10px;
}

.button {
  border-radius: 10px;
  border: none;
  background-color: brown;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
