.section-grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: solid 5px blueviolet;
}

.image {
  background-image: url("./image/l1.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
}
