:root {
  --background-color: rgb(255, 255, 255);
  --vtt-background-color: rgba(211, 187, 187, 0.308);
  --color: rgb(60, 91, 192);
  --foot-sombre-background-color: rgba(211, 187, 187, 0.308);
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--body-background-color);
}

h1 {
  font-size: 40px;
}

p {
  color: rgba(134, 125, 125, 0.767);
}

.header {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  color: var(--color);
  box-shadow: 5px 2px 5px rgba(71, 69, 69, 0.712);
}

button {
  background-color: var(--background-color);
  color: var(--color);
  border: none;
  margin: 10px;
}

button:hover {
  background-color: var(--background-color);
  border-radius: 5px;
}

.container {
  text-align: center;
}

.bienvenue {
  margin: 100px;
}

h3 {
  color: rgb(60, 91, 192);
}

.var-them-trans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.variables {
  background-color: var(--vtt-background-color);
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  padding: 15px;
}

.theme {
  background-color: var(--vtt-background-color);
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  padding: 15px;
}

.transitions {
  background-color: var(--vtt-background-color);
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  padding: 15px;
}

footer {
  background-color: var(--vtt-background-color);
  text-align: center;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-background-color: rgb(24, 22, 22);
    --color-h1: rgb(240, 227, 227);
  }

  body {
    background-color: var(--dark-background-color);
  }

  .header {
    background-color: var(--dark-background-color);
  }

  button {
    background-color: var(--dark-background-color);
  }

  h1 {
    color: var(--color-h1);
  }
}
