html {
    color:gold;
}

.bgBody {
  height: 1000px;
  background-image: url(images/space.jpg); 
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}

.title {
    text-align: center;
    Text-transform: uppercase;
    box-shadow: 5px 5px 10px black;

}

.nav{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

button {
  border-radius: 30px;
  padding: 5px 10px;
  border: 3px solid black;
  background-color: gold;
  box-shadow: 5px 5px 10px black;
}


#zonePendu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#astronaute {
    position: relative;
    width: 100px;
    height: 200px;
}

#personnage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  z-index: 0;
}


.p-tete {
  position: absolute;
  top: 0;
  left: 20px;
  width: 60px;
  height: 60px;
  background: #2f2f2f;
  border-radius: 50%;
}


.p-torse {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: #3a3a3a;
  border-radius: 15px;
}

.p-bras.gauche {
  position: absolute;
  top: 80px;
  left: -25px;
  width: 35px;
  height: 15px;
  background: #3a3a3a;
  border-radius: 15px;
}


.p-bras.droit {
  position: absolute;
  top: 80px;
  right: -35px;
  width: 35px;
  height: 15px;
  background: #3a3a3a;
  border-radius: 15px;
}


.p-jambe.gauche {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 10px;
  height: 50px;
  background: #3a3a3a;
  border-radius: 15px;
}


.p-jambe.droit {
  position: absolute;
  top: 150px;
  left: 70px;
  width: 10px;
  height: 50px;
  background: #3a3a3a;
  border-radius: 15px;
}



.piece {
    position: absolute;
    background-color: #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     border: 1px solid rgba(255,255,255,0.2);
    display: block; 
}

.casque {
  position: absolute;
  top: 0;
  left: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #ffffff, #ccc);
  border: 3px solid #666;
  overflow: hidden;
  box-shadow: inset -4px -4px 10px rgba(0,0,0,0.2);
}

.casque::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 20px;
  background: rgba(0, 200, 255, 0.3);
  border-radius: 50%;
  transform: rotate(-20deg);
}

.torse {
    top: 80px;
    left: 20px;
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom, #aaa, #888);
}

.bras-gauche {
    top: 80px;
    left: -25px;
    width: 45px;
    height: 15px;
    background: linear-gradient(to right, #ccc, #aaa);
}

.bras-droit {
    top: 80px;
    right: -35px;
    width: 45px;
    height: 15px;
    background: linear-gradient(to right, #ccc, #aaa);
}

.jambe-gauche {
    top: 150px;
    left:20px;
    width: 20px;
    height: 60px;
    background: linear-gradient(to bottom, #999, #666);
}

.jambe-droit {
    top: 150px;
    left: 70px;
    width: 20px;
    height: 60px;
    background: linear-gradient(to bottom, #999, #666);
}

.jetpack {
    top: 60px;
    left: 20px;
    width: 70px;
    height: 20px;
    background: linear-gradient(to bottom, #555, #222);
    border-radius: 5px;
} 

.torse, .bras , .jambe, .jetpack {
  border-radius: 15px; 
} 

#zoneMot {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  letter-spacing: 10px;
}

 #zoneSaisie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: 30px auto; 
    width: 300px;
    text-align: center;
    font-size: 30px;
} 

 #zoneSaisie form {
    display: flex;;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
} 

 #zoneSaisie input[type="text"] {
    width: 40px;
    font-size: 1.5rem;
    text-align: center;
} 

#nbErreur {
    text-align: center;
    font-size: 40px;
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-alert.hidden {
  display: none;
}

.custom-alert-box {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px black; 
  text-align: center;
}

#customAlertClose {
  border: none;
  margin-top: 16px;
  font-family: inherit;
  cursor: pointer;
  color:#f5c518 ;
  background-color:rgba(0, 0, 0, 0) ;
}

@keyframes shake {
  0% { transform: translate(0); }
  20% { transform: translate(-5px); }
  40% { transform: translate(5px); }
  60% { transform: translate(-5px); }
  80% { transform: translate(5px); }
  100% { transform: translate(0); }
}

.shake {
  animation: shake 0.5s;
}

@keyframes levitate {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

#astronaute {
  animation: levitate 5s ease-in-out infinite;
}