.header {
  background-image: url(images/bg_header.jpg);
  background-size: cover;
  background-position: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  list-style: none;
  color: white;
  font-size: 25px;
  gap: 30px;
}

.lien {
  text-decoration: none;
  color: white;
}

.lien1,
.lien2,
.lien4,
.lien5 {
  padding-top: 10px;
}

.logo-lien {
  padding: 0px;
}

.text-header {
  display: flex;
  margin: 100px;
  margin-left: 800px;
  flex-direction: column;
  width: 400px;
  color: aliceblue;
  gap: 10px;
}

.btn-look-more {
  width: 120px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 280px;
}

.main {
  background-color: gray;
}

.tilte-h2 {
  text-align: center;
}

.section-go-hall {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(37, 34, 34);
  color: white;
}

.section-go-hall-sans-titre {
  display: flex;
  gap: 10px;
  padding: 40px;
}

.text-go-hall {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-projects {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(133, 91, 14);
}

.section-services {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(37, 34, 34);
}
