h1 {
  text-align: center;
  font-size: 40px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}

.formulaire {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 60em;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.form {
  margin-top: 100px;
  font-size: 16px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 2em;
  border: 1px solid;
  border-radius: 4px;
  padding: 6px;
}

.input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.123);
}

.input:valid {
  border: 1px solid rgba(0, 128, 0, 0.199);
}

.prenom {
  height: 5em;
}

.nom {
  height: 5em;
}

.email {
  height: 5em;
}

.password {
  height: 5em;
}

.mdpcons {
  margin-top: 5px;
  font-size: 12px;
  font-family: Courier New, monospace;
}

.confirm {
  height: 5em;
}

.date {
  height: 5em;
}

.genre {
  height: 5em;
}

.pays {
  height: 5em;
}

.accepte {
  height: 2em;
}

.news {
  height: 4em;
}

.bouton {
  height: 5em;
}

button {
  background-color: #252479;
  border-radius: 6px;
  border-color: rgb(255, 255, 255);
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 550px;
  cursor: pointer;
  margin-left: 10px;
}

.reset {
  background-color: #6c6b92;
  border-radius: 6px;
  border-color: rgb(255, 255, 255);
  color: #e6dada;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  width: 140px;
  cursor: pointer;
}
