
.menuBurger {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 5px;
  cursor: pointer;
}


.menuBurger span {
  display: block;
  height: 1px;  
  border: 2px solid red;   
  width: 50px;
  border-radius: 5px;
  transition: height 0.3s ease
}

.menu {
  display: none;
  padding: 10px;
}

.menu.active {
  display: block;
 
} 

.menuBurger.active span {
  height: 10px;          
}