.container {
  display: grid;
  grid-template-areas:
    "tete tete tete"
    "nav principal sidbar"
    "pied pied pied";
  grid-template-columns: 1fr 6fr 1fr;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tete {
  display: flex;
  gap: 10px;
  background-color: rgba(4, 14, 70, 0.781);
  color: aliceblue;
  grid-area: tete;
}

.nav {
  background-color: rgba(163, 142, 142, 0.281);
  grid-area: nav;
  list-style-type: none;
  line-height: 60px;
  border-right: solid rgba(138, 128, 128, 0.233) 1px;
}

main {
  background-color: rgba(209, 209, 195, 0.548);
  padding: 50px;
}

.principal {
  grid-area: principal;
  margin: 0 10%;
}

.sidbar {
  background-color: rgba(163, 142, 142, 0.281);
  grid-area: sidbar;
  padding: 20px;
  border-left: solid rgba(138, 128, 128, 0.233) 1px;
}

.pied {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(4, 14, 70, 0.781);
  grid-area: pied;
  color: aliceblue;
  font-size: small;
  padding: 20px;
  gap: 50px;
}

.elsc {
  grid-column: span 4;
}

.droit {
  grid-column: span 4;
  text-align: center;
  border-top: solid rgba(138, 128, 128, 0.664) 1px;
  padding-top: 20px;
}

.contenu-p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.cpb {
  grid-column: span 2;
}

.tc {
  grid-column: span 2;
  text-align: center;
}

.container-button {
  grid-column: span 2;
  text-align: center;
}

.bouton {
  background-color: green;
  color: aliceblue;
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-top: 50px;
}

.abonner {
  background-color: green;
  color: aliceblue;
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.cate {
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 10px;
}

.articles {
  padding: 20px;
  border-bottom: solid rgba(138, 128, 128, 0.664) 1px;
}

.news {
  padding: 20px;
  border-bottom: solid rgba(138, 128, 128, 0.664) 1px;
}

.categories {
  padding: 20px;
}

h2 {
  padding: 5px;
}

h3 {
  padding: 5px;
  font-style: oblique;
}

h4 {
  margin-bottom: 10px;
}

.pt0 {
  font-style: italic;
  margin-bottom: 20px;
  font-size: small;
}

.pt {
  margin-bottom: 30px;
}

.nolist {
  list-style-type: none;
}

.ens-icon {
  display: flex;
  gap: 10px;
}

.icon {
  width: 10%;
}
.lien1 {
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
}

.lien1 > li:hover {
  background-color: green;
  border-radius: 10px;
}

.lien2 {
  line-height: 20px;
}

a:hover {
  color: gold;
}

a {
  padding: 20px;
}

@media only screen and (width <= 768px) {
  .container {
    grid-template-areas:
      "tete"
      "nav"
      "principale"
      "sidbar"
      "pied";
    grid-template-columns: 1fr;
  }
  .lien1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pied {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ens-icon {
    width: 20%;
  }
  .elc {
    border-bottom: solid rgba(138, 128, 128, 0.664) 1px;
  }
}

@media only screen and (width >= 768px) and (width <= 1024px) {
  .container {
    grid-template-areas:
      "tete tete"
      "nav nav"
      "principal sidbar"
      "pied pied";
    grid-template-columns: 1fr 1fr;
  }

  .lien1 {
    display: flex;
    flex-direction: row;
  }
}
