.container {
  display: grid;
  grid-template-areas:
    "tete tete tete"
    "nav principal sidbar"
    "pied pied pied";
  grid-template-columns: 1fr 6fr 1fr;
  gap: 5px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tete {
  display: flex;
  gap: 10px;
  background-color: rgba(4, 14, 70, 0.781);
  color: aliceblue;
  grid-area: tete;
}

.nav {
  background-color: rgba(163, 142, 142, 0.281);
  grid-area: nav;
  list-style-type: none;
}
main {
  background-color: rgba(209, 209, 195, 0.548);
}
.principal {
  grid-area: principal;
  margin: 0 10%;
}

.sidbar {
  background-color: rgba(163, 142, 142, 0.281);
  grid-area: sidbar;
  padding: 10px;
}

.pied {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(4, 14, 70, 0.781);
  grid-area: pied;
  color: aliceblue;
  font-size: small;
}

.elsc {
  grid-column: span 4;
}

.droit {
  grid-column: span 4;
  text-align: center;
}

.contenu-p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.cpb {
  grid-column: span 2;
}

.tc {
  grid-column: span 2;
  text-align: center;
}

.container-button {
  grid-column: span 2;
  text-align: center;
}

.bouton {
  background-color: green;
  color: aliceblue;
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 10px;
}

.abonner {
  background-color: green;
  color: aliceblue;
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.cate {
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 10px;
}

.articles {
  padding: 20px;
}

.news {
  padding: 20px;
}

.categories {
  padding: 20px;
}

h2 {
  padding: 5px;
}

h3 {
  padding: 5px;
  font-style: oblique;
}

h4 {
  margin-bottom: 10px;
}

.pt0 {
  font-style: italic;
  margin-bottom: 20px;
  font-size: small;
}

.pt {
  margin-bottom: 30px;
}

.nolist {
  list-style-type: none;
}

.suivez-nous {
}
