:root {
  --color-primary: burlywood;
  --litle-padding: 24px;
  --medium-padding: 48px;
  --litle-gap: 20px;
}

.titre-img {
  display: flex;
  justify-content: center;
  background-image: url(images/bg_header.png);
  background-size: cover;
  background-position: center;
}

.img-adéquation {
  padding: var(--litle-padding);
  padding-top: var(--medium-padding);
  padding-bottom: var(--medium-padding);
}

.content-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--litle-padding);
  gap: var(--litle-gap);
  list-style: none;
  text-transform: uppercase;
}

.color-lien {
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

.bg-soupe {
  background-image: url(images/soupe.png);
}

.bg-salade {
  background-image: url(images/salade.png);
}

.bg-dessert {
  background-image: url(images/dessert.png);
}
