html {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgba(245, 245, 245, 0.788);
}

.body {
     background-color:burlywood ;
}

.header {
    background: linear-gradient(135deg, #9B6D45, #7A4B32, #A5785D, #4E3327); 
 
}


.tilte {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 12px;
}


.divChoixPseudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px; 
  
}

.pseudo {
    display: flex;
    gap: 12px;
}

.hidden {
    display: none;
}

.divBtnPlay {
    display: flex;
    justify-content: center;
    padding: 12px; 
    padding-top: 24px;
}

.btnPlay {
    background-color:  saddlebrown;
    padding: 6px 12px;
    border:2px solid black;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large; 
    color: rgba(245, 245, 245, 0.788);;
    transition: background-color 2s ease, transform 0.2s ease;
}

.btnPlay:hover {
    background-color:burlywood;
    transform: scale(1.05);
}

.btnPlay:active {
    transform: scale(0.98);
  }

.sectionScore {
    display: flex;
    justify-content: center;
    gap:5px
}

.divPlayer {
    display: flex;
    gap:15px;
}

.divPlayer2 {
    flex-direction: row-reverse;
}


.SectionPlateau {
    display: flex;
    align-items: center;
    width: 360px;
    height: 360px;
    border: solid 2px black;
    margin:24px auto ;
    background-color: saddlebrown;
}

.morpion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color:  saddlebrown;
    width: 300px;
    height: 300px;
    margin: 100px auto;
    gap: 5px; 
    border: solid 2px black;
}

.case {
    background: linear-gradient(135deg, #9B6D45, #7A4B32, #A5785D, #4E3327);
    box-shadow: inset 5px 5px  10px black ;
}

.case.X, .case.O {
    font-size: 3em; 
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    
}

.case.X {
    font-family: 'Impact', sans-serif;
    color: #e6dbc9; 
}

.case.O {
    font-family: 'Impact', sans-serif;
    color:	#2b2b2b; 
}

@keyframes highlight-win {
  0% {  transform: scale(1); }
  50% {  transform: scale(1.1); }
  100% {  transform: scale(1); }
}

@keyframes green-border {
  0% { border: 4px solid burlywood; }
  50% { border: 4px solid burlywood; }
  100% { border: 4px solid burlywood; }
}

.case.win {
  animation: highlight-win 1s ease-in-out infinite,green-border 1s ease-in-out infinite;
  z-index: 1;
}

#winnerMessage {
  text-align: center;
  font-size: 1.5em;
  margin-top: 12px;
  color: saddlebrown;
  text-shadow: 1px 1px 2px black;
  animation: appear 0.5s ease;
}

@keyframes appear {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

